.row.justify-content-center
  .col-10.col-md-8
    = form_with model: [@league], class: 'mb-4', local: true do |f|
      = render 'layouts/validation_error', instance: @league

      .div-title.mb-2.mb-sm-3
        = f.label :リーグ名, class: 'title-p text-main'
        %span.p_required 必須
        %span.fs-sm.text-main (15文字以内)
        = f.text_field :name, autofocus: true, placeholder: "Mリーグ",
          class: 'form-control py-md-1 rounded bg-white js-rule_name', maxlength: 15
      - if @league.matches.count == 0
        .div-title.mb-2.mb-sm-3
          = f.label :'三麻/四麻', class: 'title-p text-main mb-1'
          %span.p_required 必須
          .d-flex.align-items-end.w-100
            = f.select :play_type,
              [ ["四人麻雀",4], ["三人麻雀", 3]], {},
              {class: 'form-control w-50 py-md-1 rounded bg-white'}
      - else
        .div-title.mb-2.mb-sm-3
          = f.label :'三麻/四麻', class: 'title-p text-main mb-1'
          %span.p_warning ※変更不可
          .d-flex.align-items-end.w-100
            = f.select :play_type,
              [ ["四人麻雀",4], ["三人麻雀", 3]], {},
              {class: 'form-control w-50 py-md-1 rounded bg-gray', tabindex: -1, style: "pointer-events: none;"}

      .div-title.mb-2.mb-sm-3
        - if @league.matches.count == 0
          .d-flex.justify-content-between
            .left-content
              = f.label :ルール, class: 'title-p text-main'
              %span.p_required 必須
            .right-content
              = link_to 'ルール新規登録', new_player_rule_path(current_player, previous_url: request.original_url), id: 'rule_link', class: 'text-pink fs-sm pt-1'
          = f.collection_select(:rule_id, current_player.rules,
                                :id, :name, { selected: @league.rule_id },
                                class: 'form-control py-md-1 rounded bg-white text-center' )
        - else
          .d-flex.justify-content-between
            .left-content
              = f.label :ルール, class: 'title-p text-main'
              %span.p_warning ※変更不可
          = f.collection_select(:rule_id, current_player.rules,
                                :id, :name, {},
                                class: 'form-control py-md-1 rounded bg-gray text-center',
                                tabindex: -1, style: "pointer-events: none;" )
        %button.js-rule-dropdown.mb-1.fs-sm.text-main{ type: 'button' }
          %i.fa-solid.fa-caret-right
          %span.ps-1 詳細
        .js-rule-details{ style: "display: none;" }
          .js-rule.mb-2

      .div-title.mb-2.mb-sm-3
        = f.label :'リーグ説明', class: 'title-p text-main mb-md-1'
        %span.fs-sm.text-main (50文字以内)
        = f.text_area :description, autofocus: true,
          class: 'form-control py-md-1 rounded bg-white', maxlength: 50
      .col-8.col-md-6.m-auto.mb-3
        = f.button type: 'submit', class: 'main-btn--orange w-100' do
          .btn-text
            %i.fa-regular.fa-circle-check.fs-sm
            %span #{action}

      - if controller.action_name == "edit"
        .col-8.col-md-6.m-auto
          = link_to league_path(@league), method: :delete,
            data: { confirm: "本当に削除しますか？（リーグの全記録が削除されます）"},
            class: "main-btn--white-red mb-3" do
            .btn-text
              %i.fa-regular.fa-trash-can.pe-1
              %span リーグ削除