.container
  .row.d-flex.justify-content-center.text-main
    .col-12.text-center.pb-2
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main.mt-4
        .d-flex.align-items-end
          %h4.text-center.text-md-start.fw-bold.mb-0 リーグ一覧
      - if @leagues.blank?
        .col-6.col-md-4.m-auto
          %p.fs-bold.text-center.mt-4 リーグが登録されていません
          = link_to 'リーグ作成する', new_league_path(p_id: current_player.id)
      - else
        .row
          - @leagues.each do |league| 
            .col-sm-6
              .card
                .card-body
                  .d-flex.justify-content-center.align-items-center.py-1.mb-2.border-green-thin_bottom
                    %h5.fw-bold.card-title.mb-0= league.name
                    = link_to league_path(league), class: 'px-1 pt-1 pb-0 text-main' do
                      %i.bx.bx-link-external.text-gray{style: "padding-top: 1px;"}
                  .d-flex.flex-wrap.justify-content-center.mb-1
                    - league.league_players.each do |l_player|
                      %p.card-text.p-1.mb-0.fs-sm= l_player.player.name
                  = link_to 'リーグ対局を記録する', new_match_path(league: league.id), 
                    class: "col-sm-6 btn d-block rounded fw-bold px-1 py-1 mx-auto mb-1 bg-orange text-white fs-sm"
                  = link_to '編集/削除', edit_league_path(league), 
                    class: "col-sm-6 btn d-block rounded fw-bold px-1 py-1 mx-auto bg-gray text-white text-nowrap fs-sm"