.container
  .row.d-flex.justify-content-center.text-main
    .col-11.col-md-9.text-center.pb-2.px-0
      .page-title
        %h4.text-center.text-md-start.fw-bold.mb-0 リーグ一覧
        .header-right-item.fs-sm
          %i.fa-solid.fa-user-pen
          %span : 主催者
      - if @leagues.blank?
        .col-8.col-md-5.m-auto
          %p.fs-bold.text-center.mt-4 リーグが登録されていません
      - else
        .row.justify-content-center
          .col-12.px-0
            - @leagues.each do |league|
              .league_item.d-flex.justify-content-start.align-items-center.my-2.pt-1.pb-2.border-bottom
                .col-5.league_item-left.align-items-center
                  %h5.fw-bold.mt-2.mb-2= league.name
                  .fs-sm
                    .d-flex.justify-content-center
                      %p.mb-0 総対戦数 :
                      %span.ps-1= league.match_count
                    - if league.match_count != 0
                      %span #{league.first_record_day} ~ #{league.last_record_day}
                    - else
                      %span -
                .col-3.league_item-center.px-1
                  - record_active = league.league_players.present? && league.player_id == current_player.id
                  - result_active = league.league_players.present?
                  = link_to new_match_path(league: league.id),
                    class: "main-btn--white-orange-sm p-2 my-1 #{'inactive-link' unless record_active}" do
                    .btn-text
                      %i.fa-solid.fa-pen
                      %span 記録
                  = link_to league_path(league),
                    class: "main-btn--white-green-sm p-2 my-1 #{'inactive-link' unless result_active}" do
                    .btn-text
                      %i.fa-solid.fa-chart-simple
                      %span 成績
                .col-4.col-md-5.league_itme-right.ps-2.ps-md-4.my-1
                  .players.fs-sm
                    .players-head
                    - if league.league_players.blank? && league.player_id == current_player.id
                      .d-flex.align-items-center
                        %i.fa-solid.fa-user-plus.text-pink.fs-sm.pe-1
                        = link_to new_player_path(play_type: league.play_type, league: league.id),
                          class: "text-pink fs-sm",data: { "turbolinks" => false } do
                          %p.mb-0.text-start.fw-bold プレイヤー選択へ
                      .d-flex.align-items-center
                        %i.fa-solid.fa-trash-can.fs-sm.pe-2
                        = link_to league_path(league),
                          class: "fs-sm my-1",
                          data: { confirm: "リーグを削除しますか？" },
                          method: :delete do
                          %p.mb-0.text-start.fw-bold 削除
                    -else
                      - league.league_players.each do |l_player|
                        .d-flex.align-items-center
                          %p.mb-0.text-start.fw-bold= l_player.player.name
                          - if league.player_id == l_player.player.id
                            %i.fa-solid.fa-user-pen.ps-1
      .row.my-3
        .col-8.col-md-5.m-auto
          = link_to new_league_path,
            class: "main-btn--orange w-100" do
            .btn-text
              %i.fa-solid.fa-trophy.pe-1
              %span リーグ作成