.container.mb-5
  .row.d-flex.justify-content-center
    .col-11.col-md-7.text-center.pb-2.mt-4
      .d-flex.justify-content-center.align-items-end.mb-2
        %h2.text-center.fw-bold.mb-0= @league.name
        - if user_signed_in?
          - if @league.player_id == current_player.id
            = link_to  edit_league_path(@league),
              class: "" do
              %i.bx.bxs-edit-alt.text-main.ps-2
      - if @l_matches.present?
        %p.text-main.fs-sm.mb-0 #{@league.first_record_day} ~ #{@league.last_record_day}
      %p.text-main.fs-sm.mb-0= @league.rule.name
      %p.text-main.fs-sm.mb-0= "対戦数 : #{@league.match_count}"
      %p.text-main.fs-sm.mb-0= @league.description
      .d-flex.justify-content-center.my-2
        - if user_signed_in?
          - if @league.player_id == current_player.id
            = link_to new_match_path(league: @league.id),
              class: "main-btn--white-orange-sm mx-1 py-0" do
              .btn-text
                %i.fa-solid.fa-pen
                %span 記録する
        - else
          = button_to request.path, method: :get, params: { tk: @share_token.token, resource_type: @share_token.resource_type},
            class: "main-btn--white-orange-sm px-1 py-0 m-auto", id: "update_btn" do
            %i.bx.bx-revision.text-orange.fw-bold{style: "padding-top: 0px;"}
            更新
      - if user_signed_in?
        #share-link.mx-1.fs-sm{ data: { url: @share_link.url }, style: "padding: 0px 5px 0px 5px;"  }
          %i.share-link.fa-solid.fa-link
          %i.share-link.fa-solid.fa-check.text-green.hidden
          %span.share-link{style: "padding-left: 3px;"}  共有リンクをコピー

  .row
    .col-md-10.m-auto
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
        %h4.text-center.text-md-start.fw-bold.mb-0 順位表
      .mt-3.table-responsive
        %table.table.table-bordered.table-sm.text-main.text-nowrap.text-center.col-10.col-md-6.px-2.fs-sm
          %thead
            %tr.bg-lightgray.w-100
              %th.w-date{scope: "col"} 順位
              %th.w-mochi{scope: "col"} プレイヤー
              %th.w-uma{scope: "col"} 総合pt
              - @league.play_type.times do |i|
                %th.w-uma{scope: "col"} #{i + 1}位
            - @rank_table_data.each.with_index(1) do |data, i|
              %tr
                %td= i
                %td= data[:name]
                %td.fw-bold= show_pt(data[:total_pt], @league.rule_id)
                - data[:rank_times].each do |d|
                  %td= d
  .row
    .col-md-10.m-auto.mb-2
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
        %h4.text-center.text-md-start.fw-bold.mb-0 総合pt推移
      = render partial: 'graphs/league_result', locals: { league_id: @league.id }

  .row
    .col-md-10.m-auto
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
        %h4.text-center.text-md-start.fw-bold.mb-0 リーグ戦成績

      .mt-3.table-responsive
        %table#league_match_list.table.table-sm.text-main.text-center.col-10.col-md-6.fs-sm
          %thead.align-middle
            %tr.bg-lightgray.w-100
              %th.w-no{scope: "col"} No
              %th.w-date{scope: "col"} 対局日
              - @l_players.each do |l_player|
                %th.w-players-name{scope: "col"}= l_player.player.name
              %th.w-icon{scope: "col"}
          - k = 1
          - @l_matches.each.with_index do |match, i|
            - if @share_token.present?
              %tr{data: { href: match_path(match, tk: @share_token.token, resource_type: @share_token.resource_type) }}
                %td= k
                %td= match.match_on.to_s(:yeardate)
                - match.results.each do |r|
                  %td.w-players-name= show_pt(r.point, @league.rule_id)
                %td.p-0
                  %i.bx.bx-chevrons-right.bx-size.text-main{style: "padding-top: 1px;"}
                - k += 1
            - else
              %tr{data: { href: match_path(match) }}
                %td= k
                %td= match.match_on.to_s(:yeardate)
                - match.results.each do |r|
                  %td.w-players-name= show_pt(r.point, @league.rule_id)
                %td.p-0
                  %i.bx.bx-chevrons-right.bx-size.text-main{style: "padding-top: 1px;"}
                - k += 1
            // チップ有ルールの場合、チップptを挿入する
            - if @league.is_tip_valid? && (MatchGroup.find(match.match_group_id).matches.last == match)
              - if @share_token.present?
                %tr{data: { href: edit_match_group_chip_results_path(match.match_group_id,
                                                                      tk: @share_token.token,
                                                                      resource_type: @share_token.resource_type) }}
                  %td= k
                  %td= match.match_on.to_s(:yeardate)
                  - ChipResult.where(match_group_id: match.match_group_id).each do |cr|
                    %td.w-players-name= cr.point
                  %td.p-0
                    %i.bx.bxs-coin.bx-size.text-main{style: "padding-top: 1px;"}
                  - k += 1
              - else
                %tr{data: { href: edit_match_group_chip_results_path(match.match_group_id) }}
                  %td= k
                  %td= match.match_on.to_s(:yeardate)
                  - ChipResult.where(match_group_id: match.match_group_id).each do |cr|
                    %td.w-players-name= cr.point
                  %td.p-0
                    %i.bx.bxs-coin.bx-size.text-main{style: "padding-top: 1px;"}
                  - k += 1

      -if @l_matches.blank?
        %p.text-center.text-main.fs-sm 対局成績なし
  - if user_signed_in?
    - if @league.player_id == current_player.id
      .col-8.col-md-5.m-auto.my-2
        = link_to new_match_path(league: @league.id),
          class: "main-btn--orange w-100" do
          .btn-text
            %i.fa-solid.fa-pen.pe-1.fw-bold
            %span リーグ戦を記録する
  - if @share_token.present?
    .col-8.col-md-5.m-auto.my-2
      = link_to url_for(request.path_parameters.merge(tk: @share_token.token, resource_type: @share_token.resource_type)),
        class: "main-btn--white-orange w-100" do
        .btn-text
          %i.bx.bx-revision.pe-1.fw-bold
          %span 更新する