.container
  .row.d-flex.justify-content-center
    .col-11.col-md-7.text-center.pb-2.mt-4
      .d-flex.justify-content-center.align-items-end.mb-2
        %h2.text-center.fw-bold.mb-0= @league.name
        = link_to  edit_league_path(league: @league.id),
          class: "" do
          %i.bx.bxs-edit-alt.text-main.ps-2
      - if @l_matches.present?
        %p.text-main.fs-sm.mb-0 #{@league.first_record_day} ~ #{@league.last_record_day}
      %p.text-main.fs-sm.mb-0= "対局数 : #{@league.match_count}"
      %p.text-main.fs-sm.mb-0= @league.description
      .d-flex.justify-content-center.mt-1
        - if @league.player_id == current_player.id
          = link_to new_match_path(league: @league.id),
            class: "main-btn--white-orange-sm px-1 py-0 m-auto" do
            .btn-text
              %i.fa-solid.fa-pen
              %span 記録

  .row
    .col-md-10.m-auto
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
        %h4.text-center.text-md-start.fw-bold.mb-0 順位表
      .mt-3.table-responsive
        %table.table.table-bordered.table-sm.text-main.text-nowrap.text-center.col-10.col-md-6.px-2.fs-sm
          %thead
            %tr.bg-lightgray.w-100
              %th.w-date{scope: "col"} 順位
              %th.w-mochi{scope: "col"} プレイヤー
              %th.w-uma{scope: "col"} 総合pt
              - @league.play_type.times do |i|
                %th.w-uma{scope: "col"} #{i + 1}位
            - @rank_table_data.each.with_index(1) do |data, i|
              %tr
                %td= i
                %td= data[:name]
                %td.fw-bold= show_pt(data[:total_pt], @league.rule_id)
                - data[:rank_times].each do |d|
                  %td= d
  .row
    .col-md-10.m-auto.mb-2
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
        %h4.text-center.text-md-start.fw-bold.mb-0 総合pt推移
      = render partial: 'graphs/league_result', locals: { league_id: @league.id }

  .row
    .col-md-10.m-auto
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
        %h4.text-center.text-md-start.fw-bold.mb-0 リーグ戦成績

      .mt-3.table-responsive
        %table.table.table-sm.text-main.text-center.col-10.col-md-6.fs-table#league_match_list
          %thead.align-middle
            %tr.bg-lightgray.w-100
              %th.w-no{scope: "col"} No
              %th.w-date{scope: "col"} 対局日
              - @l_players.each do |l_player|
                %th.w-players-name{scope: "col"}= l_player.player.name
              %th.w-icon{scope: "col"}
          - k = 1
          -  @l_matches.each.with_index do |match, i|
            %tr
              %td= k
              %td= match.match_on.to_s(:yeardate)
              - match.results.order(:player_id).each do |r|
                %td.w-players-name= show_pt(r.point, @league.rule_id)
              %td.p-0
                = link_to match_path(match), class: 'pt-1 pb-0 text-main' do
                  %i.bx.bx-chevrons-right.bx-size.text-main{style: "padding-top: 1px;"}
              - k += 1
            // チップ有ルールの場合、チップptを挿入する
            - if @league.rule_is_tip? && (MatchGroup.find(match.match_group_id).matches.last == match)
              %tr
                %td= k
                %td= match.match_on.to_s(:yeardate)
                - ChipResult.where(match_group_id: match.match_group_id).order(:player_id).each do |cr|
                  %td.w-players-name= show_pt(cr.point, @league.rule_id)
                %td.p-0
                  = link_to edit_match_group_chip_results_path(match.match_group_id), class: 'pt-1 pb-0 text-main' do
                    %i.bx.bxs-coin.bx-size.text-main{style: "padding-top: 1px;"}
                - k += 1

      -if @l_matches.blank?
        %p.text-center.text-main.fs-sm 対局成績なし

  .col-8.col-md-5.m-auto.my-2
    = link_to new_match_path(league: @league.id),
      class: "main-btn--orange w-100" do
      .btn-text
        %i.fa-solid.fa-pen.pe-1.fw-bold
        %span リーグ対局を記録する