- @match_groups.each_with_index do |mg, i|
  = link_to match_group_path(mg), class: 'match-groups-list' do
    .left-side
      = image_tag 'result_record.png'
      %p.match-date= mg.matches.last.created_at.to_date.to_s(:yeardate_with_zero)
      %p.match_number= "#{mg.matches.count}局"
    .center
      - @first_match_results_p_ids[i].each do |p_id|
        .player-item
          %p.player-name= Player.find_by(id: p_id).name
          - if @first_match_player_ids.include?(p_id)
            %i.fa-solid.fa-user-pen.ps-1
    .right-side
      .rule-info
        %i.fa-solid.fa-file-pen
        %span= rule_name(mg.rule_id)
      .league-info
        %i.fa-solid.fa-trophy
        - if mg.league_id.nil?
          %span.ps-1 -
        - else
          %span= league_name(mg.league_id)
    .arrow
      %i.fa.fa-chevron-right
-if @match_groups.blank?
  %p.mt-3.text-center 対局成績なし