// 今回の対局成績表
.row.mt-3
  .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main.text-main
    .d-flex.align-items-end
      %h4.text-center.text-md-start.text-nowrap.fw-bold.mb-0 対局成績表
      .d-flex.fs-sm
        %p.mb-0.ms-2="#{@match_group.created_at.to_date.to_s(:yeardate)}"
        %p.mb-0.ms-2="#{Rule.find(@match_group.rule_id).name}"

  .d-flex.justify-content-center.mt-2
    %table.table.col-10.col-md-6.text-main.text-center.px-2.result_table.w-100
      %thead
        %tr.bg-lightgray.w-100.fw-bold
          %th.w-no{scope: "col"} No
          - Player.get_players_name(@match_group.matches.first.results, false).each do |name|
            %th.w-name{scope: "col"}= name
          %th.w-edit{scope: "col"} 編集
          - each_points, total_points, links = @match_group.get_table_element
          - each_points.each.with_index(0) do |points, i| 
            %tr
              %td{scope: "row"}
                - if links[i][:idx] == MatchGroup::CHIP
                  %span=links[i][:idx]
                - else 
                  =link_to links[i][:idx], match_path(links[i][:id])
              - points.each do |point|
                %td= point
              %td.p-0
                - if links[i][:idx] == MatchGroup::CHIP
                  = link_to '#', class: 'px-1 pt-1 pb-0 text-main' do
                    %i.bx.bx-edit-alt.bx-sm{style: "padding-top: 1px;"}
                - else
                  = link_to edit_match_path(links[i][:id]), class: 'px-1 pt-1 pb-0 text-main' do
                    %i.bx.bx-edit-alt.bx-sm{style: "padding-top: 1px;"}
      %tfoot
        %tr.bg-lightgray.fw-bold
          %td 合計
          - total_points.each do |point|
            %td= point
          %td 
- if recording?
  - if @match_group.rule.is_chip
    .col-7.col-md-5.m-auto
      = link_to 'チップ集計して記録終了する', new_match_group_chip_result_path(session[:mg]),
        class: "btn d-block rounded fw-bold px-2 py-2 mb-3 bg-orange text-white"
    
  - else
    .col-7.col-md-5.m-auto
      = link_to '記録終了する', match_group_path(session[:mg], fix: true),
        class: "btn d-block rounded fw-bold px-2 py-2 mb-3 bg-orange text-white"

.border-bottom.border-2.pt-4.mb-4.w-100