.container
  .row.d-flex.justify-content-center.text-main
    .col-12.text-center.pb-2

      .page-title
        .d-flex.align-items-end
          %h4.text-center.text-md-start.text-nowrap.fw-bold.mb-0 成績表一覧
          %p.mb-0.ms-2.fs-sm.fw-bold=Player.get_name(current_player.id)
          %p.mb-0.ms-2.fs-sm ※ 他プレイヤーに記録された成績も含む
      .mt-3.table-responsive
        %table.table.table-bordered.table-sm.text-main.text-nowrap.col-10.col-md-6.px-2.fs-sm
          %thead
            %tr.bg-lightgray.w-100
              %th.w-date{scope: "col"} 対局日
              %th.w-sanyonma{scope: "col"} 三麻/四麻
              %th.w-players{colspan: "4",scope: "col"}参加プレイヤー
              %th.w-rule{scope: "col"} ルール
              %th.w-show{scope: "col"} 詳細
          - @match_groups.each do |mg| 
            %tr
              %td= mg.created_at.to_date.to_s(:yeardate)
              %td= "#{conversion_kanji_num(mg.rule.play_type)}麻"
              - Player.get_players_name(mg.matches.first.results).each do |name|
                %td.w-players-name= name
              %td= mg.rule.name
              %td.p-0
                = link_to match_group_path(mg), class: 'px-1 pt-1 pb-0 text-main' do
                  %i.bx.bx-link-external.bx-sm{style: "padding-top: 1px;"}
      -if @match_groups.blank?
        %p 対局成績なし

