/ ログインしている場合
- if user_signed_in?
  .container.pt-4
    .row.d-flex.justify-content-center
      - if recording?
        .col-lg-10.text-center.text-white.px-5.mb-3.mx-auto.d-md-flex.justify-content-evenly
          .info.py-2.mb-1.text-center
            .d-flex.align-items-center.justify-content-center
              %i.bx.bxs-info-circle.pe-2.text-pink
              %p.mb-0.fw-bold.text-main 記録を続けるか終了してください
          = link_to new_match_path, class: "main-btn--green mb-3" do
            .btn-text 
              %i.fa-solid.fa-angles-right
              %span 次の対局を記録する
      - else 
        .info.py-2.mb-1.text-center.fadeIn
          .d-flex.align-items-center.justify-content-center
            %i.fa-solid.fa-circle-arrow-down.pe-2.text-pink
            %p.mb-0.fw-bold.text-main なにを記録しますか？
        .col-lg-10.text-center.text-white.px-5.mb-3.mx-auto.d-md-flex.justify-content-evenly
          = link_to new_player_path(play_type: 4), 
            class: "col-md-3 main-btn--white-green mt-2 mt-md-0 py-md-3" do
            .top-btn_text
              %span 四人麻雀
              %i.fa-solid.fa-user-pen

          = link_to new_player_path(play_type: 3), 
            class: "col-md-3 main-btn--white-green mt-2 mt-md-0 py-md-3" do
            .top-btn_text
              %span 三人麻雀
              %i.fa-solid.fa-user-pen

          - if @player.leagues_registered?
            = link_to leagues_path, 
              class: "col-md-3 main-btn--white-green mt-2 mt-md-0 py-md-3" do
              .btn_text
                %span リーグ戦
                %i.fa-solid.fa-trophy

      = render partial: 'match_groups/result_table' if recording?
      = render partial: 'result', locals: { play_type: 4 }
      = render partial: 'result', locals: { play_type: 3 }

  / ログインしていない場合
- else
  %section#home
    .container
      %h1.display-4.mt-5
        .d-flex.flex-column
          .home-text 麻雀は記録すれば
          .home-text もっと楽しくなる！
      .col-5.col-md-4.col-lg-3.pt-3.mb-5.text-center
        = link_to '無料アカウント登録', new_user_registration_path,
          class: "btn d-block rounded-pill fw-bold text-white px-2 py-3 mt-3 bg-green"
        = link_to 'ログイン', new_user_session_path,
          class: "btn d-block rounded-pill fw-bold text-white px-2 py-3 mt-2 bg-orange"

  %section#feature01
    .container
      %h3.border-green-left.fw-bold.ps-2.mt-4 特徴
      .d-md-flex.justify-content-center
        .feature_card.col-8.col-md-4
          = image_tag 'result_record.png', class: "feature_card__image01"
          %p.feature_card__title 成績記録
          %p.card_text 
            ルールを登録して成績を記録しよう<br>
            (三麻/四麻対応)
        .feature_card.col-8.col-md-4
          = image_tag 'data_analysis.png', class: "feature_card__image02"
          %p.feature_card__title 成績の振り返り
          %p.card_text 
            平均順位や累計ptなどの<br>
            成績を確認できる
        .feature_card.col-8.col-md-4
          = image_tag 'league.png', class: "feature_card__image03"
          %p.feature_card__title リーグ対局
          %p.card_text 
            順位表・成績グラフで<br>
            自分たちだけのリーグ戦を楽しめる

  %section#step
    .container
      %h3.border-green-left.fw-bold.ps-2.mt-4 成績記録のステップ
      %p.fw-bold.mt-1.mb-1.text-green Step01 
      %h2.step-title 代表者1人がアカウント登録！
      %p.fw-bold.mt-1.mb-1.text-green Step02
      %h2.step-title 持ち点・ウマなどのルールを登録！
      %p.fw-bold.mt-1.mb-1.text-green Step03 
      %h2.step-title 点数を入れるだけ！ポイントも自動計算！

  %section#home-end.text-center.mt-3
    .container
      %h2.display-5.mt-5.fw-bold.text-white
        %span.d-block 麻雀は記録すれば
        %span.d-block.ps-1 もっと楽しくなる！
      .col-5.col-md-4.col-lg-3.pt-3.mb-5.text-center.m-auto
        = link_to '無料アカウント登録', new_user_registration_path,
          class: "btn d-block rounded-pill fw-bold text-white px-2 py-3 mt-3 bg-green"
        = link_to 'ログイン', new_user_session_path,
          class: "btn d-block rounded-pill fw-bold text-white px-2 py-3 mt-3 bg-orange"