/ ログインしている場合
- if user_signed_in?
  .container.pt-4
    .row.d-flex.justify-content-center
      .col-lg-7.text-center.text-white.px-5.mb-4.mx-auto.d-md-flex.justify-content-evenly
        = link_to '成績入力 (四人麻雀)',new_player_path(p_num: 4), 
          class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-2 py-md-3 bg-green"
        = link_to '成績入力 (三人麻雀)',new_player_path(p_num: 3), 
          class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-2 py-md-3 bg-green mt-3 mt-md-0"

      = render partial: 'result', locals: { players_num: '四人' }
      = render partial: 'result', locals: { players_num: '三人' }

      .col-7.col-md-4.m-auto
        = link_to 'ルールを登録する', new_player_rule_path(current_player.id), 
          class: "btn d-block rounded fw-bold box-shadow text-white px-3 py-2 py-md-3 bg-green mt-3 mt-md-0"

  / ログインしていない場合
- else
  .pt-4
    %section#home.container
      .mx-2
        %h1.display-4.mt-5
          %span.d-block 麻雀成績を記録して
          %span.d-block もっと麻雀を楽しもう！

        .col-5.col-md-4.col-lg-3.pt-3.mb-5.text-center.h-auto
          = link_to '無料アカウント登録', new_user_registration_path,
            class: "btn d-block rounded-pill fw-bold box-shadow text-white px-2 py-3 mt-3 bg-green"
          = link_to 'ログイン', new_user_session_path,
            class: "btn d-block rounded-pill fw-bold box-shadow text-white px-2 py-3 mt-3 bg-orange"

    %section#step_01.text-navyblue
      .container.pb-3
        %p.border-start-green.fw-bold.ps-2.mt-4 Step01 
        %h2 
          %span アカウント登録は記録者だけでOK！
        .temporary_image
    %section#step_01.text-navyblue
      .container.pb-3
        %p.border-start-green.fw-bold.ps-2.mt-4 Step02
        %h2 
          %span 持ち点・ウマなどのルールを登録！
        .temporary_image
    %section#step_01.text-navyblue
      .container.pb-3
        %p.border-start-green.fw-bold.ps-2.mt-4 Step03 
        %h2 
          %span 点数を入れるだけ！ポイントも自動計算！
        .temporary_image

    %section.container.text-center
      .mx-2
        %h2.display-5.mt-5
          %span.d-block 麻雀成績を記録して
          %span.d-block もっと麻雀を楽しもう！
        .col-5.col-md-4.col-lg-3.pt-3.mb-5.text-center.h-auto.m-auto
          = link_to '無料アカウント登録', new_user_registration_path,
            class: "btn d-block rounded-pill fw-bold box-shadow text-white px-2 py-3 mt-3 bg-green"
          = link_to 'ログイン', new_user_session_path,
            class: "btn d-block rounded-pill fw-bold box-shadow text-white px-2 py-3 mt-3 bg-orange"