.row.d-flex.justify-content-center
  .col-10.col-md-6
    = form_with model: @group, class: 'mb-4', local: true do |f|
      = render 'layouts/validation_error', instance: @group
      .div-title.mb-4
        = f.label :グループ名, class: 'title-p fw-bold text-main'
        %span.p_required 必須
        = f.text_field :name, autofocus: true, 
          class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'
      .div-title.mb-4
        = f.label :人数, class: 'title-p fw-bold text-main'
        %span.p_required 必須
        = f.text_field :member_count, 
          class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'

      .col-12.d-flex.justify-content-center
        .p-form__input-submit
          = f.submit "#{action}する", class: 'btn d-block rounded fw-bold box-shadow text-white px-5 py-3 fs-6 bg-purple'