<% provide(:button_text, '更新') %>
<h1>グループ編集</h1>
<%= render 'shared/flash' %>

<%= form_with(model: @group) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <div class="field">
    <%= f.label :name, "グループ名" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>  
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit yield(:button_text), class: "btn btn-primary w-25 mt-3" %>
<% end %>
  <%= link_to '戻る', :back, class: "btn btn-outline-secondary w-25 mt-3" %>