.container
  .row.justify-content-center
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.mb-0 お問い合わせ
  .row
    .col-12.pb-2.text-main
      = form_with(model: @contact, local: true) do |f|
        .col-11.mx-auto
          = render 'layouts/validation_error', instance: @contact
          .d-flex.flex-column.mb-2
            .contact-label.mb-1
              = f.label "お名前", class: "fw-bold"
              %span.p_required 必須
            = f.text_field :name, placeholder: "お名前", value: current_user.name,
              class: "form-control rounded"
          .d-flex.flex-column.mb-4
            .contact-label.mb-1
              = f.label "お問合せ内容", class: "fw-bold"
              %span.p_required 必須
            = f.text_area :content, placeholder: "お問合せ内容を入力してください",
              class: "form-control rounded", rows: 5
            = f.hidden_field :user_id, value: current_user.id
          .col-8.col-md-5.m-auto.my-3
            = f.button type: 'submit', class: 'main-btn--orange w-100' do
              .btn-text
                %i.fa-regular.fa-paper-plane.pe-1
                %span 送信