.container
  .row.mt-5
    .col.d-flex.justify-content-center.text-center.mt-5
      .col-10.col-md-6
        %div= image_tag 'Mareco_logo.png', class: 'img-fluid', width: '180px'
        .col-12.text-center.pb-2
          %p.w-lg-50.pt-3.fs-3.text-purple ログイン
    .row.d-flex.justify-content-center
      .col-10.col-md-6
        = form_with model: @user, url: session_path(@user), class: 'p-form__input', local: true do |f|
          %div
            = f.label :メールアドレス, class: "text-start text-main fw-bold mb-2 fs-6"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control py-md-3 rounded bg-white box-shadow mb-3"
          %div
            = f.label :パスワード, class: "text-start text-main fw-bold mb-2 pt-4"
            = f.password_field :password, autocomplete: "current-password", class: "form-control py-md-3 rounded bg-white box-shadow mb-3"
          .my-5.text-center
            = f.submit "ログイン", class: 'btn fw-bold rounded py-3 w-50 text-white px-5 py-3 fs-6 bg-purple'
