.row.d-flex.justify-content-center
  .col-10.col-md-8.text-main.px-0

    .info.py-2.px-1.mb-3.text-center
      .d-flex.align-items-center.justify-content-center.fs-sm
        %i.bx.bxs-info-circle.pe-1.text-pink{style: "padding-top: 1px;"}
        - if @league.present?
          %p.mb-0.fw-bold リーグに参加するプレイヤーを選択しましょう！
        - else
          %p.mb-0.fw-bold 参加するプレイヤーを選択しましょう！

    .selected_players
      %h5.border-green-left-table.fw-bold.mb-3
        参加プレイヤー (
        %span.player-count= @play_type
        )
      .selected_players-item
        %span #{current_player.name}
        %i.bx.bx-trash.player-delete-1
        .p_id{style: "display: none"}= current_player.id

      - if @authenticated_users.present?
        - @authenticated_users.each do |user|
          .selected_players-item
            %span #{user.player.name}
            %i.bx.bx-trash.player-delete-1
            .p_id{style: "display: none"}= user.player.id
    .text-center.my-3
      = button_to players_path, method: :post, params: { play_type: @play_type},
        class: "col-8 col-md-6 main-btn--orange m-auto d-flex justify-content-center align-items-center", 
        id: "create_btn" do
        %i.fa-regular.fa-circle-check.fs-sm.pe-2
        %span プレイヤー決定

    #delimiter
    .adding_method
      %h5.border-green-left-table.fw-bold 選択方法

    .played_players
      .d-flex.align-items-center.mb-1
        %i.bx.bxs-down-arrow.text-green
        %p.mb-0.ps-1.fw-bold 1. 過去遊んだプレイヤーから選択する
      - if @played_players.blank?
        %p.text-center まだいません
      - else
        %ul.players_list
          - @played_players.each do |p|
            %li.players_list-item
              .p_name #{p[1]}
              .p_id{style: "display: none"}= p[0]
        .text-center.mb-2
          = link_to players_path, class: "text-center m-auto d-inline-block fs-sm" do
            %span プレイヤーを編集する
            %i.fa-regular.fa-pen-to-square
    .create_players
      .d-flex.align-items-center.mb-1
        %i.bx.bxs-down-arrow.text-green
        %p.mb-0.ps-1.fw-bold 2. プレイヤーを新規作成する
        %span.fs-sm (8文字以内)
      .d-flex.align-items-center.mb-3
        %input{ autofocus: true, maxlength: 8, class: "form-control ms-1 py-md-1 rounded bg-white w-75", id: "new-player-form" }
        %button#new-player-create-btn.ms-2.py-md-1.main-btn--white-orange-sm 作成

    .invite_users
      .d-flex.align-items-center
        %i.bx.bxs-down-arrow.text-green
        %p.mb-0.ps-1.fw-bold 3. アカウント登録済みプレイヤーを参加させる
      .process.my-2
        %p.fs-sm.mb-0.ps-4 <手順>
        %p.fs-sm.mb-0.ps-4 1. 参加するプレイヤーへ下記リンクからログインしてもらう
        %p.fs-sm.mb-0.ps-4 2. このページを更新する
        %p.fs-sm.mb-0.ps-4 ※ URLは発行から10分間有効です

      .invite_users_btns.col-10.col-md-8.m-auto
        #share-link.main-btn--white-orange-sm{ data: { url: @authentication_url } }
          %span.share-link{style: "text-decoration: none;"}  1. ログインリンクをコピー
          %i.share-link.fa-solid.fa-link.ps-1
          %i.share-link.fa-solid.fa-check.text-green.hidden.ps-1

        .text-center.mt-2
          = button_to request.path, method: :get, params: { play_type: @play_type},
            class: "main-btn--white-orange-sm w-100", id: "update_btn" do
            2. ページ更新
            %i.bx.bx-revision.ps-1.text-orange.fw-bold{style: "padding-top: 1px;"}