.row
  .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main
    %h4.text-center.text-md-start.fw-bold.mb-0 #{conversion_kanji_num(play_type)}人麻雀
    .d-flex.align-items-center.fw-bold
      %i.bx.bx-chevrons-right{style: "padding-top: 1px;"}
      .px-0= link_to '対局一覧', matches_path(p_id: params[:id])
  .border-top.border-bottom.bg-light-green.d-flex.flex-column.flex-md-row.justify-content-evenly.text-center.fw-bold.mb-4
    - @player.match_ids = @sanyon_match_ids[play_type]
    %p.my-1.my-md-2= "総対局数  #{@player.total_match_count}局"
    %p.my-1.my-md-2= "総合pt  #{@player.total_point}pt"
    %p.my-1.my-md-2= "平均順位  #{@player.average_rank}位"
    %p.my-1.my-md-2= "連対率  #{@player.rentai_rate}%"
    
.row
  .d-flex.flex-wrap.justify-content-evenly
    .col-11.col-lg-5.py-3.px-4.mb-2
      %p.border-green-left-table.fw-bold 順位別
      %table.table.table-bordered.text-nowrap.px-3.text-center.text-main
        - @player.rank_results(play_type).each.with_index(1) do |rate_time, i|
          %tr.w-100
            %td.px-3.bg-lightgray.fw-bold.w-rank{scope: "row"}= "#{i}位"
            %td.px-2= "#{rate_time[0]}%"
            %td.px-2= "#{rate_time[1]}回"

    .col-11.col-lg-5.py-3.px-4.mb-2
      %p.border-green-left-table.fw-bold 家別
      %table.table.table-bordered.text-nowrap.px-2.text-main
        %thead.text-center
          %tr.bg-lightgray.w-100
            %th.w-ie{scope: "col"} 家
            %th{scope: "col"} 平均順位
            %th{scope: "col"} 対局数
            %th{scope: "col"} 合計pt
          - @player.ie_results.each_with_index do |result, i|
            %tr
              %td #{Result::IE[i][0]}
              %td= "#{result[0]}位"
              %td= "#{result[1]}"
              %td= "#{result[2]}pt"
              
.row
  .d-flex.flex-wrap.justify-content-evenly
    .col-11.col-lg-5.py-3.px-4.mb-2
      %p.border-green-left-table.fw-bold よく遊ぶプレイヤー（上位5人）
      %table.table.table-bordered.text-nowrap.px-3.text-center.text-main
        - @player.often_play_times.each.with_index(1) do |id_time, i|
          %tr.w-100
            %td.px-3.bg-lightgray.fw-bold.w-rank{scope: "row"}= "#{i}位"
            - if (id_time[0] == Player::HYPHEN) && (id_time[1] == 0)
              %td #{Player::HYPHEN}
            - else
              %td.w-name= link_to "#{Player.find(id_time[0]).name}", "/players/#{id_time[0]}"
            %td.px-2.w-time #{id_time[1]}回