.container.mb-5
  .row.justify-content-center
    .col-11.col-md-9.text-center.pb-2
      .page-title
        .d-flex.align-items-end.text-main
          %h4.text-center.text-md-start.fw-bold.mb-0 プレイヤー編集

    .col-10.col-md-8.pb-2.text-main
      = form_with model: @player, local: true do |f|
        .my-3.text-center
          = f.text_field :name, class: 'form-control w-75 m-auto', placeholder: 'プレイヤー名', autofocus: true, maxlength: 8
          %p.fs-sm.mt-1= "作成日: #{@player.created_at.to_s(:time_date)}"
        .col-md-5.col-8.text-center.m-auto
          .form-group.my-2
            = f.button type: 'submit', class: 'main-btn--orange w-100', id: "update_player_btn" do
              %i.fa-regular.fa-circle-check.pe-1.fw-bold
              %span 更新
          .form-group
            = link_to @player, data: { confirm: '本当にプレイヤーを削除しますか？' }, method: :delete, class: 'main-btn--white-red', id: "delete_player_btn" do
              %i.fa-regular.fa-trash-can
              %span 削除

      .info.m-4.p-3.bg-light.text-main.rounded
        %p.text-center.fw-bold.mb-3 プレイヤー削除について
        %ul.fs-sm.pl-4.ms-2
          %li ・削除後は「削除済みプレイヤー」という名前で記録上表示されるようになります。
          %li ・一度削除したプレイヤーを復元することはできませんのでご注意ください。