.container
  .row.d-flex.justify-content-center
    .col-11.col-md-7.text-center.pb-2.mt-4
      .body-icon.m-auto
        - if @player.user.nil?
          = image_tag 'default_icon.png', alt: 'プレイヤー画像', class: 'rounded-circle'
        - else 
          = image_tag "#{@player.user.avatar}", alt: 'ユーザー画像', class: 'rounded-circle'
      %p.mt-1.mb-0.text-main.fw-bold= "#{@player.name}"
      %p.mb-2.text-main.fs-sm= "(ID : #{@player.id})"
      .mb-3.col-8.col-md-5.m-auto
        - if @player.user == current_user
          = link_to '編集', edit_user_registration_path, class: 'btn px-2 py-1 mb-2 rounded text-white bg-green'
        - if @player.can_invite?(current_player)
          = link_to 'アカウント招待する', new_players_invitations_path(player_id: @player.id), 
            class: 'px-2 py-1 mb-2 rounded text-white bg-green',data: { "turbolinks" => false }
    .yonma_results.mb-3.text-main
      = render partial: 'result', locals: { play_type: 4 }
    .sanma_results.mb-3.text-main
      = render partial: 'result', locals: { play_type: 3 }
