.container
  .row.d-flex.justify-content-center
    = render 'shared/flash'
    .col-11.col-md-7.text-center.pb-2
      - if @player.user.nil?
        = image_tag 'default_icon.png', alt: 'プレイヤー画像', class: 'rounded-circle border-green flex-shrink-0 fit-cover d-inline-block', style: 'width: 80px; height:auto;'
      -else 
        = image_tag "#{current_user.avatar}", alt: 'ユーザー画像', class: 'rounded-circle border-green flex-shrink-0 fit-cover d-inline-block', style: 'width: 80px'
      %p.mt-1.mb-0.text-main.fw-bold= "#{@player.name}"
      %p.mb-2.text-main.fs-sm= "(ID : #{@player.id})"
      .mb-3
        - if @player.user == current_user
          = link_to 'アカウント情報編集', edit_user_registration_path, class: 'px-2 py-1 mb-2 rounded text-white bg-green'
  .row
    .border-top.border-bottom.bg-light-green.d-flex.flex-column.flex-md-row.justify-content-evenly.text-center.fw-bold.mb-4
      %p.my-1.my-md-2= "総対局数  #{Result.get_total_match_count(@player.id)}局"
      %p.my-1.my-md-2= "平均順位  #{Result.get_average_rank(@player.id)}位"
      %p.my-1.my-md-2= "総合pt  #{Result.get_total_point(@player.id)}pt"
      %p.my-1.my-md-2= "連対率  #{Result.get_rentai_rate(@player.id)}%"
      
  .row
    .d-flex.flex-wrap.justify-content-evenly
      .border-bold-green.rounded.col-11.col-lg-5.py-3.px-4.mb-4
        %p.mb-0.text-center.fw-bold 順位別データ
        %table.table.text-nowrap.px-2
          %thead.text-center
            %tr.text-main
              %th{scope: "col"} 
              %th{scope: "col"} 1位
              %th{scope: "col"} 2位
              %th{scope: "col"} 3位
              %th{scope: "col"} 4位
            %tr
              %td.px-3{scope: "row"}順位率
              - Result.get_rank_rate(@player.id).each do |rank_rate|
                %td.px-2= "#{rank_rate}%"
            %tr
              %td{scope: "row"}回数
              - Result.get_rank_times(@player.id).each do |rank_time|
                %td.px-2= rank_time
  

      .border-bold-green.rounded.col-11.col-lg-5.py-3.px-4.mb-4
        %p.mb-0.text-center.fw-bold 家別データ
        %table.table.text-nowrap.px-2
          %thead.text-center
            %tr.text-main
              %th{scope: "col"} 
              %th{scope: "col"} 東
              %th{scope: "col"} 南
              %th{scope: "col"} 西
              %th{scope: "col"} 北
            %tr
              %td.px-3{scope: "row"}平均順位
              - Result.get_average_rank_by_ie(@player.id).each do |rank_rate|
                %td.px-2= "#{rank_rate}位"
            %tr
              %td.px-3{scope: "row"}対局数
              - Result.get_ie_times(@player.id).each do |ie_time|
                %td.px-2= ie_time
            %tr
              %td.px-3{scope: "row"}合計pt
              - Result.get_total_point_by_ie(@player.id).each do |ie_point|
                %td.px-2= ie_point
                
  .row
    .d-flex.flex-wrap.justify-content-evenly
      .border-bold-green.rounded.col-11.col-lg-5.py-3.px-4.mb-4
        %p.mb-0.text-center.fw-bold よく遊ぶプレイヤー
        %table.table.text-nowrap.px-2
          %thead.text-center
            %tr.text-main
              %th{scope: "col"} プレイヤー名
              %th{scope: "col"} 対局数

            - Result.get_often_play_times(@player.id).each do |id_time|
              %tr
                %td{scope: "row"}
                  = link_to "#{Player.find(id_time[0]).name}", "/players/#{id_time[0]}"
                %td.px-2= id_time[1]
              
  .row.justify-content-center
    .col-8.col-md-6.col-lg-3.text-center.pb-2
      = link_to '対局成績一覧を見る', matches_path, 
        class: 'btn d-block rounded fw-bold box-shadow text-white px-3 py-3 fs-6 bg-orange'