.row.d-flex.justify-content-center
  .col-12.text-center.pb-2
    %p.w-lg-50.pt-3.fs-3.text-purple 対局成績#{action}
  .col-10.col-md-6

    = form_with model: @match, class: 'mb-4', local: true do |f|
      = render 'layouts/validation_error', instance: @match
      = f.hidden_field :player_id, value: current_user.player.id
      .div-title.mb-4
        = f.label :ルール, class: 'title-p fw-bold text-main'
        %span.p_required 必須
        = f.collection_select(:rule_id, current_user.player.rules.all,
                              :id, :name,
                              {prompt: "選択してください"},
                              class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' )
      .div-title.mb-4
        = f.label :対局日時, class: 'title-p fw-bold text-main'
        %span.p_required 必須
        - if controller.action_name == "edit"
          = f.date_field :match_day, value: @match.match_day, autofocus: true, 
            class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'
        - else 
          = f.date_field :match_day, value: Date.today, autofocus: true, 
            class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'
      
      %span.title-p.fw-bold.text-main スコア
      %span.p_required 必須
      // 選択されたプレイヤー分だけフォーム表示   
      - i = 0
      = f.fields_for :results do |result|
        .div-title.mb-4
          = result.label :"#{session[:players][i]['name']}", class: 'title-p fw-bold text-main'
          %span.title-p.text-main (ID : #{session[:players][i]["id"]})
          .d-flex.align-items-end
            = result.text_field :score, autofocus: true, placeholder: "25000",
              class: 'form-control py-2 py-md-3 rounded bg-white box-shadow'
            %p.fw-bold.text-main.mb-0.mx-2 点
            = result.text_field :point, autofocus: true,
              class: 'form-control py-2 py-md-3 rounded bg-white box-shadow'
            %p.fw-bold.text-main.mb-0.mx-2 pt
            = result.select :ie, 
              [ ["東",1], ["南", 2], ["西",3], ["北", 4] ], {},
              {class: 'form-control py-2 py-md-3 rounded bg-white box-shadow'}
            = result.hidden_field :player_id, value: session[:players][i]["id"]
            = result.hidden_field :rank, value: 1
        - i += 1
          
      .div-title.mb-4
        = f.label :'対局メモ', class: 'title-p fw-bold text-main'
        = f.text_area :memo, autofocus: true, 
          class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'

      .col-12.d-flex.justify-content-center
        .p-form__input-submit
          = f.submit "#{action}する", class: 'btn d-block rounded fw-bold box-shadow text-white px-5 py-3 fs-6 bg-purple'
    
    - if controller.action_name == "edit"
      .col-12.d-flex.justify-content-center.mt-4
        .p-form__input-submit
          = link_to '削除する', match_path(@match), method: :delete,
            data: { confirm: "本当に対局成績を削除しますか？"},
            class: 'btn d-block rounded fw-bold box-shadow text-white px-5 py-3 fs-6 bg-purple'
