.row.d-flex.justify-content-center
  .col-12.text-center.pb-2
    %p.w-lg-50.pt-3.fs-3.text-green 対局成績#{action}
  .col-10.col-md-8

    = form_with model: @match, class: 'mb-4', local: true do |f|
      = render 'layouts/validation_error', instance: @match
      = f.hidden_field :player_id, value: current_player.id
      .mb-4
        .d-flex.justify-content-between
          #div
            = f.label :ルール, class: 'title-p fw-bold text-main'
            %span.p_required 必須
          = link_to 'ルール一覧', player_rules_path(current_player), class: 'text-pink fs-sm pt-1'
        = f.collection_select(:rule_id, current_player.rules,
                              :id, :name,
                              {prompt: "選択してください"},
                              class: 'form-control py-md-3 rounded bg-white box-shadow mb-3 text-center' )
      .js-rule.mb-2
      .mb-4
        = f.label :対局日時, class: 'title-p fw-bold text-main'
        %span.p_required 必須
        - if controller.action_name == "edit"
          = f.date_field :match_on, value: @match.match_on, autofocus: true, 
            class: 'form-control py-md-3 rounded bg-white box-shadow mb-3 text-center'
        - else 
          = f.date_field :match_on, value: Date.today, autofocus: true, 
            class: 'form-control py-md-3 rounded bg-white box-shadow mb-3 text-center'
      .d-flex
        %span.title-p.fw-bold.text-main 得点
        %span.p_required 必須
        .js-remaining_score.text-main.fw-bold.ps-4 残り点：
      // 選択されたプレイヤー分だけフォーム表示   
      - i = 0
      = f.fields_for :results do |result|
        .mb-2.mb-md-4
          = result.label :"#{session[:players][i]['name']}", class: 'title-p fw-bold text-main'
          %span.title-p.text-main (ID : #{session[:players][i]["id"]})
          .d-flex.align-items-end.justify-content-between
            - if @match.results[i].ie.nil?
              = result.select :ie, 
                Result::IE , { selected: i + 1 }, 
                {class: 'form-control py-1 py-md-3 rounded bg-white box-shadow w-25 text-center'}    
            - else
              = result.select :ie, 
                Result::IE , { selected: @match.results[i].ie }, 
                {class: 'form-control py-1 py-md-3 rounded bg-white box-shadow w-25 text-center'}    
            %p.text-main.mb-0.mx-1.mx-md-2 家
            
            = result.number_field :score, autofocus: true, placeholder: "25000", step: "100",
              class: "form-control py-1 py-md-3 rounded bg-white box-shadow text-center"
            %p.text-main.mb-0.mx-1.mx-md-2 点
            
            = result.number_field :point, autofocus: true, step: "0.1",
              class: 'form-control py-1 py-md-3 rounded box-shadow w-50 text-center'
            %p.text-main.mb-0.mx-1.mx-md-2 pt

            = result.hidden_field :player_id, value: session[:players][i]["id"]
            = result.hidden_field :rank, value: @match.results[i].rank
        - i += 1
          
      .my-4
        = f.label :'対局メモ', class: 'title-p fw-bold text-main'
        = f.text_area :memo, autofocus: true, 
          class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'

      - if controller.action_name == ("edit" || "update")
        .col-12.d-flex.justify-content-center
          .p-form__input-submit
            = f.submit "更新する", class: 'btn d-block rounded fw-bold box-shadow text-white px-5 py-3  bg-orange'
        .col-12.d-flex.justify-content-center.mt-4
          .p-form__input-submit
            = link_to '削除する', match_path(@match), method: :delete,
              data: { confirm: "本当に対局成績を削除しますか？"},
              class: 'btn d-block rounded fw-bold box-shadow text-white px-5 py-3  bg-delete-color'
      - else 
        .col-12.d-flex.justify-content-center
          .p-form__input-submit
            = f.submit "#{action}する", class: 'btn d-block rounded fw-bold box-shadow text-white px-5 py-3  bg-orange'