.container
  .row.d-flex.justify-content-center.text-main
    .col-12.text-center.pb-2

      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main.mt-4
        %h4.text-center.text-md-start.fw-bold.mb-0 対局成績一覧
        %p.fw-bold.mb-0= "総対局数 : #{@player.results.count} 局"
      .mt-3.table-responsive
        %table.table.table-bordered.table-sm.text-main.text-nowrap.col-10.col-md-6.px-2.fs-sm
          %thead
            %tr.bg-lightgray.w-100
              %th.w-date{scope: "col"} 対局日
              %th.w-sanyonma{scope: "col"} 三麻/四麻
              %th.w-players{colspan: "4",scope: "col"}参加プレイヤー
              %th.w-rule{scope: "col"} ルール
              %th.w-show{scope: "col"} 詳細
          - @matches.each do |match| 
            %tr
              %td= match.match_on.to_s(:yeardate)
              %td= "#{conversion_kanji_num(match.player_num)}麻"
              - Player.get_players_name(match.results).each do |name|
                %td.w-players-name= name
              %td= Rule.find(match.rule_id).name
              %td.p-0
                = link_to match_path(match), class: 'px-1 pt-1 pb-0 text-main' do
                  %i.bx.bx-link-external.bx-sm{style: "padding-top: 1px;"}
      -if @matches.blank?
        %p 対局成績なし