.container
  .row.mt-4
    .col-12.col-md-9.m-auto
      .d-flex.justify-content-between.align-items-end.border-green-bottom-title_main.text-main
        .d-flex.align-items-end
          %h4.text-center.text-md-start.text-nowrap.fw-bold.mb-0.text-nowrap 対局成績
          .d-flex.fs-sm
            - if recording?
              %p.mb-0.ms-2="#{@match_group.get_index(params[:id].to_i)}局目"
            - else
              %p.mb-0.ms-2="#{@match.match_on.to_s(:yeardate)}"
              %p.mb-0.ms-2="#{Rule.find(@match.rule_id).name}"
        - if user_signed_in? && @match.player_id == current_player.id
          .d-flex
            = link_to edit_match_path(@match) do
              %i.fa-regular.fa-pen-to-square.text-main.pe-3
            = link_to match_path(@match, { btn: 'match' }),
                      data: { confirm: delete_confirm_message(@match_group)},
                      method: :delete do
              %i.fa-regular.fa-trash-can.pe-2

  .row
    .col-12.col-md-9.m-auto
      .d-flex.justify-content-center.mt-2
        %table.table.col-10.col-md-6.text-nowrap.text-main.text-center.px-2
          %thead.bg-lightgray
            %tr.w-100.fw-bold
              %th.w-rank{scope: "col"} 順位
              %th.px-2{scope: "col"} プレイヤー
              %th{scope: "col"} 得点
              %th{scope: "col"} pt
              %th{scope: "col"} 家
          - @match.results.order(:rank).each do |result|
            %tr
              %td{scope: "row"}= result.rank
              %td= Player.find(result.player_id).name
              %td= result.score
              %td= show_pt(result.point, @match.rule_id)
              %td= Result::IE[result.ie - 1][0]
      - if @match.memo.present?
        .row
          .col-12.pb-2.text-main
            %p.border-green-left-table.fw-bold  対局メモ
            .mx-0.px-2.py-1
              %p.mb-0= @match.memo
  - if recording? && @match_group.id == session[:mg]
    .row
      .col-9.col-md-5.col-lg-4.m-auto
        - if session[:league].present?
          = link_to new_match_path(league: session[:league]), class: "main-btn--white-green mb-3" do
            .btn-text
              %i.fa-solid.fa-angles-right
              %span #{@match_group.matches.count + 1}局目の成績を登録
        - else
          = link_to new_match_path, class: "main-btn--white-green mb-3" do
            .btn-text
              %i.fa-solid.fa-angles-right
              %span #{@match_group.matches.count + 1}局目の成績を登録
    = render partial: 'match_groups/result_table'
    .row
      .col-8.col-md-4.col-lg-4.text-center.m-auto.mb-2
        = render partial: 'layouts/share_link'
  - else
    .row
      .col-9.col-md-5.col-lg-3.m-auto.mb-3
        - if user_signed_in?
          = link_to match_group_path(@match_group), class: "main-btn--white-orange mb-3",
            data: { "turbolinks" => false } do
            .btn-text
              %i.ph.ph-notepad.pe-1
              %span 成績表を見る
        - else
          = link_to match_group_path(@match_group, tk: @share_link.token), class: "main-btn--white-orange mb-3",
            data: { "turbolinks" => false } do
            .btn-text
              %i.ph.ph-notepad.pe-1
              %span 成績表を見る
