.row.d-flex.justify-content-center
  .col-10.col-md-8
    .info.mb-3.mx-2.fs-sm.text-main.text-center
      - if @match_group.created_by?(current_player)
        .info-content.text-center
          %i.bx.bxs-info-circle.pe-1.text-pink{style: "padding-top: 1px;"}
          %span.mb-0.fw-bold 増減したチップ枚数を入力してください(#{@rule.chip_rate}pt / 枚)

    = form_with model: @form, url: match_group_chip_results_path ,method: :patch, local: true do |form|
      = render 'layouts/validation_error', instance: @form
      = form.hidden_field :rule_id, value: @match_group.rule_id
      - i = 0
      = form.fields_for :chip_results do |f|
        .d-flex.justify-content-center.align-items-center.mb-2
          %p.col-6.fw-bold.text-main.text-center.mb-0.mx-1
            = @players[i]["name"]
          .d-flex.align-items-end.col-4
            = f.number_field :number, autofocus: true,
              class: 'form-control py-md-1 rounded bg-white'
            %span.text-main.mb-0.mx-1.mx-md-2 枚
          = f.hidden_field :match_group_id, value: @match_group.id
          = f.hidden_field :player_id, value: @players[i]["id"]
          = f.hidden_field :is_temporary, value: false
          - i += 1
      .col-8.col-md-5.m-auto.my-3
        - if @match_group.created_by?(current_player)
          = form.button type: 'submit', class: 'main-btn--orange w-100' do
            .btn-text
              %i.fa-solid.fa-pen.pe-1.fw-bold
              %span #{action}
        - else
          = link_to match_group_path(@match_group), class: "main-btn--white-orange mb-3",
            data: { "turbolinks" => false } do
            .btn-text
              %i.ph.ph-notepad.pe-1
              %span 成績表へ戻る