.row.d-flex.justify-content-center
  .col-10.col-md-8
    = form_with model: @form, url: match_group_chip_results_path ,method: :patch, local: true do |form|
      - i = 0
      = form.fields_for :chip_results do |f|
        .d-flex.justify-content-center.align-items-center.mb-2
          %p.col-6.fw-bold.text-main.text-center.mb-0.mx-1
            = @players[i]["name"]
          .d-flex.align-items-end.col-4
            = f.number_field :number, autofocus: true, readonly: true,
              class: 'form-control py-md-1 rounded bg-white'
            %span.text-main.mb-0.mx-1.mx-md-2 枚
          - i += 1
      .col-8.col-md-5.m-auto.my-3
        = link_to match_group_path(@match_group,
                                  tk: @share_token.token,
                                  resource_type: @share_token.resource_type),
                                  class: "main-btn--white-orange mb-3",
                                  data: { "turbolinks" => false } do
          .btn-text
            %i.ph.ph-notepad.pe-1
            %span 成績表を見る
