.row
  .d-flex.justify-content-center.align-items-center.text-main
    %i.fa-solid.fa-file-pen.pe-2
    %p.mb-0.fw-bold #{conversion_kanji_num(play_type)}人麻雀用ルール
  .mt-3
    - if @sanyon_rules[play_type].blank?
      %p.text-main 登録されていません
    - else
      - @sanyon_rules[play_type].each do |rule| 
        .rule-card.mb-3
          .rule-card-body
            .rule-card-top
              %h5.rule-card-title= rule.name
              = link_to  edit_player_rule_path(current_player, rule) do
                %i.bx.bxs-edit-alt.text-main.ps-2
            .rule-card-body-detail
              .rule-card-body-left
                .rule-card-text
                  %span 持ち :
                  %p= "#{rule.mochi}点"
                .rule-card-text
                  %span ウマ : 
                  - if play_type == 4
                    %p= "#{rule.uma_1}.#{rule.uma_2}.#{rule.uma_3}.#{rule.uma_4}"
                  - else
                    %p= "#{rule.uma_1}.#{rule.uma_2}.#{rule.uma_3}"
                .rule-card-text
                  %span チップ : 
                  %p= Rule.get_value_is_chip(rule.is_chip)
  
              .rule-card-body-right
                .rule-card-text
                  %span 返し : 
                  %p= "#{rule.kaeshi}点"
                .rule-card-text
                  %span 点数計算 : 
                  %p= Rule.get_value_score_decimal_point_calc(rule.score_decimal_point_calc)
                .rule-card-text
                  %span チップpt/枚 : 
                  %p= Rule.get_value_chip_rate(rule.chip_rate)