%header
  .container
    // header上部
    //　≧ 768px
    .upper-contents.mt-3.d-none.d-md-block
      .col
        .d-flex.justify-content-between.align-items-center
          = link_to image_tag('logo.png',width: '180px',alt: "logo", class: "img-fluid"), root_path
          - if user_signed_in?
            // ログイン時
            .right-contents
              .d-flex.align-items-center
                = link_to current_user.name, user_path(current_user.id), class: 'fs-sm pe-2 text-green hover-underline'
                .header-icon
                  - if current_user.avatar.present?
                    = image_tag current_user.avatar.url, class: 'rounded-circle border', alt: 'icon'
                  - else
                    = image_tag 'default_icon.png', class: 'rounded-circle', alt: 'icon'
                = link_to 'ログアウト', destroy_user_session_path, class: 'fs-sm ms-2 text-main hover-underline'
                / ログインしてるユーザーが管理者の場合のみ
                - if current_user.try(:admin?)
                  .fs-sm.text-main.ms-2.hover-underline= link_to '管理画面', rails_admin_path
          - else
            // ログアウト時
            .right-contents
              .d-flex.align-items-center
                = link_to 'ログイン', new_user_session_path, class: "me-2 text-main fs-sm hover-underline"
                = link_to 'アカウント登録', new_user_registration_path, 
                  class: "btn rounded-pill text-white bg-green me-2 px-2 py-1 fs-sm"

    // header下部 
    %nav.navbar.navbar-light.navbar-expand-md.bg-white.py-md-0.mt-md-1
      .col
        .d-flex.justify-content-between.justify-content-md-center.align-items-center
          .d-md-none
            = link_to image_tag('logo.png',width: '180px',alt: "logo", class: "img-fluid"), root_path
          - if user_signed_in?
            // ログイン時
            //　≧ 768px
            .d-flex.align-items-center.position-relative
              %nav#dropdown-nav.d-none.d-md-block
                %ul
                  %li
                    = link_to 'TOP', root_path ,class: "text-nowrap current"
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} 対局成績
                    %ul
                      %li.child= link_to '個人成績', player_path(current_player)
                      %li.child= link_to '成績表一覧', match_groups_path
                      %li.child= link_to '対局一覧', matches_path(p_id: current_player.id)
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} リーグ戦
                    %ul
                      %li.child= link_to 'リーグ作成', new_league_path(p_id: current_player.id)
                      %li.child= link_to 'リーグ一覧', leagues_path, data: { "turbolinks" => false }
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} ルール
                    %ul
                      %li.child= link_to 'ルール登録', new_player_rule_path(current_player)
                      %li.child= link_to 'ルール一覧', player_rules_path(current_player)
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} その他
                    %ul
                      %li.child= link_to 'アカウント招待', players_invitations_path
                      %li.child= link_to '問い合わせ', new_contact_path
                      %li.child= link_to 'FAQ', questions_path
              //　≦ 768px
              #hamburger_menu.d-md-none
                .openbtn
                  %span
                  %span
                  %span
                %nav#g-nav
                  #g-nav-list
                    %ul
                      %li
                        .nav-icon
                          = image_tag current_user.avatar.url, class: 'rounded-circle', alt: 'icon'
                        %span ID : #{current_player.id}
                        =link_to "#{current_user.name}", user_path(current_user.id), class: "border-b"
                      %li= link_to 'TOP', root_path, class: "border-b"
                      %li= link_to '個人成績', player_path(current_player)
                      %li= link_to '成績表一覧', match_groups_path
                      %li= link_to '対局一覧', matches_path(p_id: current_player.id), class: "border-b"
                      %li= link_to 'リーグ作成', new_league_path(p_id: current_player.id)
                      %li= link_to 'リーグ一覧', leagues_path, class: "border-b",data: { "turbolinks" => false }
                      %li= link_to 'ルール登録', new_player_rule_path(current_player)
                      %li= link_to 'ルール一覧', player_rules_path(current_player), class: "border-b"
                      %li= link_to 'アカウント招待', players_invitations_path
                      %li= link_to '問い合わせ', new_contact_path
                      %li= link_to 'FAQ', questions_path, class: "border-b"
                      %li= link_to 'ログアウト', destroy_user_session_path, class: "border-b"
                      / ログインしてるユーザーが管理者の場合のみ
                      - if current_user.try(:admin?)
                        %li= link_to '管理画面', rails_admin_path, class: "border-b"
          - else
            // ログアウト時
            //　≧ 768px
            .d-flex.align-items-center.position-relative
              %nav#dropdown-nav.d-none.d-md-block
                %ul
                  %li
                    = link_to 'TOP', root_path , class: "text-nowrap current"
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} 対局成績
                    %ul
                      %li.child= link_to '個人成績詳細', '#'
                      %li.child= link_to '成績表一覧', '#'
                      %li.child= link_to '対局一覧', '#'
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} リーグ戦
                    %ul
                      %li.child= link_to 'リーグ作成', '#'
                      %li.child= link_to 'リーグ一覧', '#'
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} ルール
                    %ul
                      %li.child= link_to 'ルール登録', '#'
                      %li.child= link_to 'ルール一覧', '#'
                  %li.has-child.d-flex.flex-column.align-items-center
                    %a.text-nowrap.current{href: "#"} その他
                    %ul
                      %li.child= link_to 'アカウント招待', '#'
                      %li.child= link_to '問い合わせ', '#'
                      %li.child= link_to 'FAQ', "#"
              //　≦ 768px
              #hamburger_menu.d-md-none
                .openbtn.d-md-none
                  %span
                  %span
                  %span
                %nav#g-nav
                  #g-nav-list
                    %ul
                      %li= link_to 'TOP', root_path
                      %li= link_to 'アカウント登録', new_user_registration_path
                      %li= link_to 'ログイン', new_user_session_path